<div class="container">
  <div class="container__enviados">
    <h1 class="container__enviados--title">Memorandos enviados</h1>


    <form [formGroup]="formId">
      <p>(DEV)-&gt; id del remitente &lt;- </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Id del 1 al 15</mat-label>
          <input matInput placeholder="Id del usuario" formControlName="userId">
          <mat-icon [ngStyle]="{ color: 'white' }"></mat-icon>
          <mat-hint>Id del usuario</mat-hint>
        </mat-form-field>
      </p>
    </form>




    <p>Memorandos enviados:</p>
    <div class="mensaje__container">
      <div *ngFor="let memorandum of memorandum" class="mensajes__container__mensaje">
        <p><b>{{memorandum.receiver_id}}</b></p>
        <p>{{memorandum.time | date:'medium'}}</p>
        <p>{{memorandum.title}}</p>
        <p>{{memorandum.message}}</p>
      </div>
    </div>
