<div class="container">
  <div class="container__new">
    <h1 class="container__new--title">Redactar nuevo memorando</h1>


    <p>Escriba su mensaje:</p>
    <div class="memo__container">
      <div class="memo__container__memo">
        <p class="memo__container__memo--title">Titulo: title </p>
        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci molestiae impedit earum repudiandae est
          amet
          esse obcaecati enim autem accusamus!</p>
      </div>
    </div>
