@import "~@angular/material/theming";
@import "../../../../theme.scss";
@include mat-core();
@include angular-material-typography($memorandum);

.container {
   display: flex;
  width: 100%;
  height: auto;

  &__new {
     margin: 1% 10% 5% 10%;

     width: 100%;

  &--title{
    font-size: mat-font-size($memorandum, 'title');
    font-family: mat-font-family($memorandum, 'title');
    line-height: mat-line-height($memorandum, 'title');
  }
  &--subtitle{
    font-size: mat-font-size($memorandum, 'subheading-1');
    font-family: mat-font-family($memorandum, 'subheading-1');
    line-height: mat-line-height($memorandum, 'subheading-1');
  }
  }
}

.memo__container {
  background-color: rgb(212, 212, 212);

  &__memo {
    padding: 2%;
    margin: 3% 9% 5% 2%;
    border: 1px solid rgb(173, 165, 165);
    background-color: rgb(193, 201, 248);
    margin-bottom: 5px;
    border-radius: 3px;


    &--options {
      display: flex;
      flex-direction: row;
      gap: 5%;
      font-size: 1.3em;
      font-family: mat-font-family($memorandum, 'headline');

    }

    &--topic{
      padding: 1%;
      font-size: 0.7em;
      font-family: mat-font-family($memorandum, 'title');
    }

    &--message{
      font-family: mat-font-family($memorandum, 'body-2');
    }

    & form{
      font-size: mat-font-size($memorandum, 'body-1');
      font-family: mat-font-family($memorandum, 'body-1');
      width: 100%;

    & mat-form-field{
      width: 100%;
    }
    }
  }
}

