<div class="container">
  <div class="container__form">

    <h1>Registro</h1>

    <form [formGroup]="form" (ngSubmit)="registerNewUser(form.value)">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" formControlName="firstName">
          <mat-icon [ngStyle]="{ color: 'white' }" matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Ingrese su nombre</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Apellido</mat-label>
          <input matInput placeholder="Apellido" formControlName="lastName">
          <mat-icon [ngStyle]="{ color: 'white' }" matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Ingrese su apellido</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput placeholder="Nombre de usuario" formControlName="userName">
          <mat-icon [ngStyle]="{ color: 'white' }" matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Ingrese un nuevo nombre de usuario</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
          <mat-icon [ngStyle]="{ color: color }" matSuffix (click)="hide = !hide">
            {{hide?
            'visibility_off' :
            'visibility'}}</mat-icon>
          <mat-hint>Ingrese contraseña para su cuenta</mat-hint>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Seleccionar país</mat-label>
          <mat-select formControlName="country">
            <mat-option *ngFor="let country of countries" [value]="country.name">{{country.name}}</mat-option>
          </mat-select>
          <mat-hint>Ingrese su país</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Ciudad</mat-label>
          <mat-select formControlName="city">
            <mat-option *ngFor="let city of cities" [value]="city.name">{{city.name}}</mat-option>
          </mat-select>
          <mat-hint>Ingrese su ciudad</mat-hint>
        </mat-form-field>
      </p>

      <button mat-button color="primary" type="submit" value="Log In">Registrarme</button>
    </form>
  </div>
</div>
