<div class="container">
  <div class="container__form">




    <h1>Registro</h1>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Nombre de usuario">
        <mat-icon [ngStyle]="{ color: 'white' }" matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Ingrese un nuevo nombre de usuario</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Password">
        <mat-icon [ngStyle]="{ color: 'white' }" matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Ingrese contraseña para su cuenta</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Seleccionar</mat-label>
        <mat-select>
          <mat-option *ngFor="let country of countries" [value]="country.name">{{country.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>


    <p>
      <mat-form-field appearance="outline">
        <mat-label>Ciudad</mat-label>
        <input matInput placeholder="Ciudad">
        <mat-icon [ngStyle]="{ color: 'white' }" matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Ingrese su ciudad</mat-hint>
      </mat-form-field>
    </p>
    <button mat-button color="primary">Registrarme</button>
  </div>
</div>
