<div class="container">
  <div class="container__messages">
    <h1 class="container__messages--title">Dashboard</h1>

    <a routerLink="/memorandum/new">
      <div class="container__messages__container">
        <img src="../../../assets/svg/018-email-17.svg" alt="new-img" width="10%">

        <h5> Redactar nuevo memorando </h5>
      </div>
    </a>

    <a routerLink="/memorandum/received">
      <div class="container__messages__container">
        <img src="../../../assets/001-email.png" alt="received-img" width="10%">

        <h5>{{ 10 }} memorandos recibidos </h5>
      </div>
    </a>

    <a routerLink="/memorandum/sent">
      <div class="container__messages__container">
        <img src="../../../assets/014-email-13.png" alt="sent-img" width="10%">

        <h5>{{ 10 }} memorandos enviados </h5>
      </div>
    </a>


    <router-outlet></router-outlet>
