<div class="container">
  <div class="container__messages">
    <h1 class="container__messages--title">Dashboard</h1>

    <div class="container__messages__container">
      <img src="../../../assets/001-email.png" alt="received-img" width="10%">

      <h5>{{ msjRecibidos }} memorandos recibidos </h5>
    </div>

    <div class="container__messages__container">
      <img src="../../../assets/014-email-13.png" alt="sent-img" width="10%">

      <h5>{{ msjEnviados }} memorandos enviados </h5>
    </div>

    <!-- ---------------- -->
    <!--    <p>Mensajes recibidos:</p>
    <tr *ngFor="let mensaje of mensajes">
      <td>{{mensaje.id}}</td>
    </tr> -->
    <!-- ---------------- -->

    <router-outlet></router-outlet>
