mat-toolbar {
  border-bottom: 3px solid rgba(255, 255, 255, 0.507);
  background: linear-gradient(rgb(12, 5, 32), rgb(2, 1, 66));
  width: 100% !important;

  & .title {
    visibility: hidden;
    &:before {
      visibility: visible;
      content: "Buisness MSGR";
      padding-left: 1.5rem;
      color: rgb(226, 226, 226);
      text-shadow: rgba(139, 140, 228, 0.966) 2px 3px 11px;
    }

    @media (max-width: 1992px) {
      font-size: 2.5rem;
    }
    @media (max-width: 768px) {
      font-size: 2.2rem;
    }
    @media (max-width: 576px) {
      font-size: 1.5rem;
    }
  }

  & img {
    height: 75px;
    padding-top: 14px;
    filter: drop-shadow(0.13rem 0.35rem 0.4rem rgb(139, 168, 168))
      contrast(175%) brightness(95%);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
  }
}
