<app-header></app-header>


<!-- <div class="productos__container">
  <div class="productos container">
    <div class="producto" -->


<div class="home__container">
  <div class="home container">

    <a routerLink="/login" class="select">
      <img src="../../../assets/log-in.png" alt="Log in">
      <h3>Log in</h3>
    </a>
    <a routerLink="/register" class="select">
      <img src="../../../assets/register.png" alt="Log in">
      <h3>Registrarme</h3>

    </a>
  </div>
</div>

<app-footer></app-footer>
