<div class="user__container">
  <h1 class="text-center">Mi cuenta</h1>

  <div class="user container">
    <a
      routerLink="/user/login"
      class="user__container__select login"
      id="login"
    >
      <img src="../../../assets/log-in.png" alt="Log in" class="img" />
      <h3>Login</h3>
    </a>

    <a
      routerLink="/user/register"
      class="user__container__select register"
      id="register"
    >
      <img src="../../../assets/register.png" alt="Register" class="img" />
      <h3>Registrarme</h3>
    </a>
  </div>
</div>
