.container {
  display: flex;
  justify-content: center;
  width: fit-content;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 2%;
  margin-bottom: 1%;

  &__recibidos {
    width: 70vw;
    padding: 20px;
  }
}

.mensajes__container {
  &__mensaje {
    padding: 2%;
    border: 2px solid rgba(190, 190, 190, 0.562);
    background-color: rgba(245, 242, 106, 0.116);
    margin-bottom: 5px;
    border-radius: 5px;
  }
}

form {
  background-color: rgb(196, 189, 255);
  padding: 1em;
  border: 1px solid rgb(118, 116, 116);
}
