<p>
  <mat-form-field appearance="outline">
    <mat-label>Usuario</mat-label>
    <input matInput placeholder="Nombre de usuario">
    <mat-icon [ngStyle]="{ color: 'white' }" matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Ingrese un nuevo nombre de usuario</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <mat-label>Contraseña</mat-label>
    <input matInput placeholder="Password">
    <mat-icon [ngStyle]="{ color: 'white' }" matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Ingrese contraseña para su cuenta</mat-hint>
  </mat-form-field>
</p>
<button mat-button color="primary">Ingresar </button>
