.container {
  display: flex;
  min-height: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imglog {
  width: 100px;
  height: auto;
}

mat-icon {
  cursor: pointer;
}
