.container {
  display: flex;
  min-height: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

/*   & h1 {
    font-size: 1.6rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-bottom: 1.5em;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
}

.imglog {
  width: 100px;
  height: auto;
}
